<!-- BLOG -->
{% load static %}
<section id="blog" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <h2>Our Blog</h2>
                    <span class="line-bar">...</span>
                </div>
            </div>

            <div class="col-md-6 col-sm-6">
                <!-- BLOG THUMB -->
                <div class="media blog-thumb">
                    <div class="media-object media-left">
                        <a href="blog-detail.html"><img src="{% static 'images/blog-image1.jpg' %}" class="img-responsive" alt=""></a>
                    </div>
                    <div class="media-body blog-info">
                        <small><i class="fa fa-clock-o"></i> December 22, 2017</small>
                        <h3><a href="blog-detail.html">How To Find Out Beautiful Workspace.</a></h3>
                        <p>Lorem ipsum dolor sit consectetur adipiscing morbi venenatis.</p>
                        <a href="blog-detail.html" class="btn section-btn">Read article</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-6">
                <!-- BLOG THUMB -->
                <div class="media blog-thumb">
                    <div class="media-object media-left">
                        <a href="blog-detail.html"><img src="{% static 'images/blog-image2.jpg' %}" class="img-responsive" alt=""></a>
                    </div>
                    <div class="media-body blog-info">
                        <small><i class="fa fa-clock-o"></i> December 18, 2017</small>
                        <h3><a href="blog-detail.html">woman sportwear.</a></h3>
                        <p>Lorem ipsum dolor sit consectetur adipiscing morbi venenatis.</p>
                        <a href="blog-detail.html" class="btn section-btn">Read more</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-6">
                <!-- BLOG THUMB -->
                <div class="media blog-thumb">
                    <div class="media-object media-left">
                        <a href="blog-detail.html"><img src="{% static 'images/blog-image3.jpg' %}" class="img-responsive" alt=""></a>
                    </div>
                    <div class="media-body blog-info">
                        <small><i class="fa fa-clock-o"></i> December 14, 2017</small>
                        <h3><a href="blog-detail.html">new creative fashion.</a></h3>
                        <p>Lorem ipsum dolor sit consectetur adipiscing morbi venenatis.</p>
                        <a href="blog-detail.html" class="btn section-btn">Read article</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-6">
                <!-- BLOG THUMB -->
                <div class="media blog-thumb">
                    <div class="media-object media-left">
                        <a href="blog-detail.html"><img src="{% static 'images/blog-image4.jpg' %}" class="img-responsive" alt=""></a>
                    </div>
                    <div class="media-body blog-info">
                        <small><i class="fa fa-clock-o"></i> December 10, 2017</small>
                        <h3><a href="blog-detail.html">minimalist design trend in 2018.</a></h3>
                        <p>Lorem ipsum dolor sit consectetur adipiscing morbi venenatis.</p>
                        <a href="blog-detail.html" class="btn section-btn">View Detail</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>