<!-- FOOTER -->
{% load static %}
<footer data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">

            <div class="col-md-5 col-sm-12">
                <div class="footer-thumb footer-info">
                    <h2>Web App Comany</h2>
                    <p>Nostrum expeditionem ignotum fuit. Sed scio et confido in nos movet quod turba a nobis incipere
                    </p>
                </div>
            </div>

            <div class="col-md-2 col-sm-4">
                <div class="footer-thumb">
                    <h2>Company</h2>
                    <ul class="footer-link">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Join our team</a></li>
                        <li><a href="#">Read Blog</a></li>
                        <li><a href="#">Press</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-2 col-sm-4">
                <div class="footer-thumb">
                    <h2>Services</h2>
                    <ul class="footer-link">
                        <li><a href="#">Website creation</a></li>
                        <li><a href="#">Computer repair</a></li>
                        <li><a href="#">Create a telegram bot</a></li>
                        <li><a href="#">Camera installation</a></li>
                        <li><a href="#">UX/ UI Designer</a></li>
                        <li><a href="#">CRM Creation</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-4">
                <div class="footer-thumb">
                    <h2>Find us</h2>
                    <p>Share your thoughts with us. Your opinion is important to us. It is an honor for us to serve
                        people like you.</p>
                    <p>Tashkent Regon Yangiyo'l City</p>
                    <p>Pochta index: 11200</p>
                </div>
            </div>

            <div class="col-md-12 col-sm-12">
                <div class="footer-bottom">
                    <div class="col-md-6 col-sm-5">
                        <div class="copyright-text">
                            <p>Copyright &copy; 2021 Your Company</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-7">
                        <div class="phone-contact">
                            <p>Call us <span>(+998) 99 -409-01-29 </span></p>
                        </div>
                        <ul class="social-icon">
                            <li><a href="https://www.facebook.com/azimbekabdurasulov" target="_blank"
                                    class="fa fa-facebook-square" attr="facebook icon"></a></li>
                            <li><a href="https://github.com/azimxxm" target="_blank" class="fa fa-github"></a></li>
                            <li><a href="https://www.instagram.com/azim_29_01" target="_blank"
                                    class="fa fa-instagram"></a></li>
                            <li><a href="https://www.linkedin.com/in/azimjon-abdurasulov-aa10671b3" target="_blank"
                                    class="fa fa-linkedin"></a></li>
                            <li><a href="https://t.me/azim_01_29" target="_blank" class="fa fa-telegram"></a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>